body {
	background-image: url('ocean1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

h1, h2, h3, h4 {
	text-align:center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	padding-left:10px;
}

/* div classes */
.text-area {
	padding: 10px 30px 100px 30px;
	margin: 100px 6.5vw 100px 6.5vw; 
	min-width: 300px;
	background-color: #f2f2f2;
	border: 1px solid black;
	opacity: 0.9;
	min-height: 530px;
}

.wrapper {
	text-align: center;
}